*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #F99B7D;
}

.header{
    width: 100vw;
    height: 50px;
    margin-top: 25px;
    background-color: #F99B7D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tangerine', cursive;
    font-size: 24px;
    color: #B04759;
}

.main{
    width: 100vw;
    min-height: 200px;
    background-color: #F99B7D;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding: 25px 10px 15px;
}

.inputs{
    width: 100%;
    height: 100px;
    background-color: #F99B7D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.inputs input{
    width: 250px;
    height: 40px;
    padding: 0px 15px 0px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    margin-left: 10px;
    outline: none;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    color: rgb(114, 119, 119);
}

.inputs input::placeholder{
    color: #E76161;
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
}

.inputs button{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #B04759;
    background-color: #B04759;
    cursor: pointer;
    transition: 0.5s;
}

.inputs button i{
    font-size: 20px;
    color: #fff;
}

.inputs button:hover{
    background-color: #fff;
}

.inputs button:hover i{
    color: #B04759;
}

.inputs button:active{
    background-color: #E76161;
    border: 1px solid #E76161;
}

.inputs button:active i{
    color: #fff;
}

.containerList{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    padding: 10px;
}

.feat{
    list-style: none;
    width: 350px;
    min-height: 50px;
    background-color: #B04759;
    margin-top: 5px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: text;
    font-family: 'Public Sans', sans-serif;
}

.feat .content-feat{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    gap: 15px;
}

.feat .delete-edit{
    border-right: 3px solid #F99B7D;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 0px 10px 0px;
}

.feat .check-button{
    margin-right: 10px;
}

.feat button{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.feat .delete-edit button i{
    font-size: 18px;
    color: #8BACAA;
}

.feat .fa-solid{
    color: rgb(37, 202, 37);
}

.feat div p{
    font-size: 22px;
    color: #fff;
    display: block;
    width: 190px;
}

.feat div:nth-child(2) {
  display: none;
}

.feat:hover div:nth-child(2){
    display: block;
}

.feat .description-feature{
    border-top: 1px solid #F99B7D;
    width: 100%;
    padding: 5px 10px 5px;
    font-size: 14px;
    font-family: 'Public Sans', sans-serif;
    color: #fff;
}